html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

html {
  height: 100%;
}

fieldset {
  margin: 0;
  padding: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: url("./images/youngster.png");
  background-size: cover;
  background-position: center center;
  padding: 15px;
}

.container form {
  width: 100%;
  max-width: 790px;
}

.container form legend {
  font-size: 36px;
  color: #222;
  font-weight: bold;
  text-align: center;
  margin-bottom: 59px;
}

.container form .inner-form {
  width: 100%;
  margin-bottom: 17px;
}

.container form .inner-form .input-field {
  height: 70px;
  width: 100%;
  position: relative;
}

.container form .inner-form .input-field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: 0;
  background: #fff;
  display: block;
  width: 100%;
  padding: 10px 32px 10px 70px;
  font-size: 18px;
  color: #666;
}

.container form .inner-form .input-field input.placeholder {
  color: #ccc;
  font-size: 18px;
}

.container form .inner-form .input-field input:-moz-placeholder {
  color: #ccc;
  font-size: 18px;
}

.container form .inner-form .input-field input::-webkit-input-placeholder {
  color: #ccc;
  font-size: 18px;
}

.container form .inner-form .input-field input:hover,
.container form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.container form .inner-form .input-field .btn-search {
  width: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.container form .inner-form .input-field .btn-search svg {
  fill: #ccc;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-out, color 0.2s ease-out;
}

.container form .inner-form .input-field .btn-search:hover,
.container form .inner-form .input-field .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

.container form .inner-form .input-field .btn-search:hover svg,
.container form .inner-form .input-field .btn-search:focus svg {
  fill: #666;
}

.container form .suggestion-wrap {
  padding: 0 15px;
}

.container form .suggestion-wrap span {
  cursor: pointer;
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 15px;
  line-height: 32px;
  color: #fff;
  border-radius: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.results {
  height: 100%;
  border: 0;
  display: block;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  color: #222;
  min-height: 300px;
  background-color: white;
}
